TransChat.JSON
[{"id":"478e4054.7cacb","type":"websocket-listener","path":"/ws/cast","wholemsg":"false"},{"id":"2ef95de4.2e5aa2","type":"websocket-listener","path":"/ws/trans","wholemsg":"true"},{"id":"a00116aa.53f8b","type":"websocket-listener","path":"/ws/chat","wholemsg":"true"},{"id":"2f882aab.55d6ae","type":"template","name":"Chat","field":"payload","template":"\t<head>\n\t\t<meta name =\"viewport\" content=\"width=320, initial-scale-1\">\n\t\t\n\t<script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js\"></script>\n\t<script src=\"//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js\"></script>\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css\">\n\t\n\t    \n\t\t\n\t\t<title>Chat</title>\n\t\t<script type=\"text/javascript\">\n\t\t\n\t\t\n\t  \n\t\tvar wsUri = \"ws://transchat2.mybluemix.net/ws/chat\";\n\t\tvar wsTransUri = \"ws://transchat2.mybluemix.net/ws/trans\";\n\t\tvar ws = new WebSocket(wsUri);\n\t\tvar wsTrans = new WebSocket(wsTransUri);\n\t\tvar wsBroadcastUri = \"ws://transchat2.mybluemix.net/ws/cast\";\n\t\tvar wsCast = new WebSocket(wsBroadcastUri);\n\t\t\n\t\tvar flag=true;\n\t\n\tws.onopen = function(ev) {\n\t//alert(\"open\");\n\t\tcreateSystemMessage('[Connected]');\n\t};\n\t\n\twsTrans.onopen = function(ev) {\n\t//alert(\" wsTrans open\");\n\t\tcreateSystemMessage('[Connected]');\n\t};\n\t\n\tws.onclose = function(ev) {\n\t\tcreateSystemMessage('[Disconnected]');\n\t};\n\t\n\twsCast.onopen = function(ev) {\n\tvar name = document.getElementById(\"user\").value;\n\tvar payload = {_id: name, status: \"in\"};\n\t//alert(\"broadcasting = \"+JSON.stringify(payload));\n\twsCast.send(JSON.stringify(payload));\n\t//alert(\"broadcast done\");\n\t};\n\t\n\tws.onmessage = function(ev) {\n\t//alert(\"onmessage\"+ev.data);\n\t\tvar payload =  JSON.parse(ev.data);\n\t//\t\talert(\"onmessage 1\"+payload.user+payload.message);\n\t\tvar inputLang = payload.lang.replace(\"-\",\"\");\n\t\tinputLang = inputLang.toLowerCase();\n\t//\talert(\"sending data to trans...\" + inputLang);\n\t    var sellang = document.getElementById('select').value;\n\t    switch(sellang){\n\t    case \"English\":\n\t      \t\tsellang=\"enus\";\n\t      \t\tbreak;\n\t    case \"French\":\n\t      \t\tsellang=\"frfr\";\n\t      \t\tbreak;\n\t    case \"Spanish\":\n\t      \t\tsellang=\"eses\";\n\t      \t\tbreak;\n\t    case \"Portugese\":\n\t      \t\tsellang=\"ptbr\";\n\t      \t\tbreak;\n\t    \n\t      \t\t}\n\t      \t\t\n\t      \tdocument.getElementById(\"select1\").value=sellang;\n\t      \t\t\n\t    //alert(sellang+\"after switch\");\n\t    \n\t\tvar transLang = \"mt-\"+ inputLang + \"-\" +document.getElementById(\"select1\").value;\n\t\tif (inputLang != document.getElementById(\"select1\").value) {\n\t\t\n\t\t//alert(\"sending data to trans \"+ transLang);\n\t\tvar payload1 = {\n\t\t    payload: payload.payload,\n\t\t\tlang: transLang,\n\t\t\tuser: payload.user,\n\t\t\tdate: payload.date\n\t\t};\n\t\t\n\t\twsTrans.send(JSON.stringify(payload1));\n\t\t} else {\n\t\t    var userdate = payload.user+ \": \"+payload.date;\n\t\t\tcreateUserMessage(userdate, payload.payload);\n\t\t\t//var chat = document.getElementById('panel-body');\n\t\t\t//chat.scrollTop = chat.scrollHeight;\n\t\t}\n\t};\n\t\n\twsTrans.onmessage = function(ev) {\n\t\t//alert(\"trans onmessage \"+ev.data);\n\t\tvar payload = JSON.parse(ev.data);\n\t\t//alert(sellang+\"before create1\");\n\t\t//alert(\"Hello test\");\n\t\t\n\t\twhile(flag){\n\t\tflag=false;\n\t\tif((payload.lang.substr(8,11)) == document.getElementById(\"select1\").value) {\n\t\t\tvar userdate = payload.user+ \": \"+payload.date;\n\t\t\t//alert(document.getElementById('panel-body').innerHTML.search(userdate));\n\t\t\t//alert(document.getElementById('panel-body').innerHTML);\n\t\t\tif (document.getElementById('panel-body').innerHTML.search(userdate) < 0){\n//\t\t\talert(\"ami achi\");\n\t\t\t  createUserMessage(userdate, payload.payload);\n\t\t\t}\t\t\n\t\t\n\t\t//var chat = document.getElementById('panel-body');\n\t\t//chat.scrollTop = chat.scrollHeight;\n\t\t}\n\t    \n\t\t};\n\t\tflag=true;\n\t\t\n\t};\n\t\n\tfunction createUserMessage(user, message) {\n\t    \n\t    \n\t\tdocument.getElementById('panel-body').innerHTML+= \"<br/>\"+\"<kbd>\"+user+\"</kbd>\" + \" : \"+message;\t\n\t\t//alert(user + \" : \"+message);\n\t\t\n\t};\n\t\n\tfunction sendMessage(){\n\t//alert(\"sendmessage start\");\n\t\tvar user = document.getElementById('user');\n\t\tvar message = document.getElementById('message');\n\t\t\n\t\tvar date_string = new Date().toString().substr(0,24);\n\t\t\n\t\tvar payload = {\n\t\t    payload: message.value,\n\t\t\tmessage: message.value,\n\t\t\tuser: user.value,\n\t\t\tdate: date_string\n\t\t};\n\t\t\n\t\tws.send(JSON.stringify(payload));\n\t\tmessage.value = \"\";\n\t//alert(\"sendmessage end\"+payload);\t\n\t};\n\t\n\t$(document).ready(function(){\n\t\t$(\".dropdown-menu li a\").click(function(){\n\t\t    $(\"#select\").val($(this).text());\n\t\t});\n\t});\n\t\n\tfunction loadOperation(){\n\tvar name = document.getElementById(\"user\");\n\tvar val = name.value.replace(\"}\",\"\").replace(\"{\",\"\");\n\tval=val.split(\":\")[1].replace(\"\\\"\",\"\").replace(\"\\\"\",\"\");\n\tname.value= val;\n\t\n\t//Loading users\n\tloadUsers();\n\t};\n\t\nwsCast.onmessage = function(ev) {\n\t\t//alert(\"cast onmessage \"+ev.data);\n\t\t\n\t\tvar payload = JSON.parse(ev.data);\n\t\t//alert(\"cast onmessage payload \"+payload);\n\t\tvar panel = document.getElementById(\"users_panel\");\n\t\tvar val = \"<pre style=\\\"background-color:lavender;\\\"><b style=\\\"color:blue\\\">\"+payload._id+\"</b></pre>\";\n\t\tif(payload.status == \"in\") {\n\n\t\t\tif(panel.innerHTML.search(val)<0) {\n    \t\t\tpanel.innerHTML += val;\n    \t\t}\n    \t} else {\n    \t\tpanel.innerHTML = panel.innerHTML.replace(val,\"\");\n    \t}\n//\t\tloadUsers();\n\t};\n\nfunction loadUsers()\n{\nvar xmlhttp;\nif (window.XMLHttpRequest)\n  {// code for IE7+, Firefox, Chrome, Opera, Safari\n  xmlhttp=new XMLHttpRequest();\n  }\nelse\n  {// code for IE6, IE5\n  xmlhttp=new ActiveXObject(\"Microsoft.XMLHTTP\");\n  }\nxmlhttp.onreadystatechange=function()\n  {\n//  alert(xmlhttp.status+\"step   \"+xmlhttp.readyState);\n  if (xmlhttp.readyState==4 && xmlhttp.status==200)\n    {\n    //document.getElementById(\"canvas\").innerHTML=document.getElementById(\"canvas\").innerHTML+\"\\n\"+xmlhttp.responseText;\n   \n    var obj = JSON.parse(xmlhttp.responseText); \n    //alert(\"passing object\"+obj);\n    var i = 0;\n     for (i = 0; i < obj.length; i++) {\n    \tvar name = obj[i]._id;\n    \tvar status =obj[i].status;\n    \t//alert(\"name \"+name+ \" status \"+status);\n    \tif(status == \"in\") {\n    \t    var val=\"<pre style=\\\"background-color:lavender;\\\"><b style=\\\"color:blue\\\">\"+name+\"</b></pre>\";\n    \t    if(document.getElementById(\"users_panel\").innerHTML.search(val)){\n    \t    //alert(\"inside document\");\n    \t\tdocument.getElementById(\"users_panel\").innerHTML += \"<pre style=\\\"background-color:lavender;\\\"><b style=\\\"color:blue\\\">\"+name+\"</b></pre>\";\n    \t}}\n    \t//text += cars[i] + \"<br>\";\n\t}\n    /*for (i = 0; i < obj.length; i++) {\n    \tvar name = obj[i]._id;\n    \tvar status =obj[i].status;\n    \tvar panel = document.getElementById(\"users_panel\");\n\t\tvar val = \"<pre style=\\\"background-color:lavender;\\\"><b style=\\\"color:blue\\\">\"+name+\"</b></pre>\";\n\t\tif(status == \"in\") {\t\t\t\n\t\t\tif(panel.innerHTML.search(val)<0) {\n    \t\t\tpanel.innerHTML += val;\n    \t}\n    \t//text += cars[i] + \"<br>\";\n\t}*/\n   // alert(obj);\n    \n    }\n  }\n\txmlhttp.open(\"POST\", \"/db/statusreceive\");\n\txmlhttp.setRequestHeader(\"Content-Type\", \"application/json;charset=UTF-8\");\n\txmlhttp.send(); //working-getting all entries\n//\txmlhttp.send(JSON.stringify({_id: \"\"}));\n};\n\nfunction logoffOperation()\n{\n\nvar xmlhttp;\nif (window.XMLHttpRequest) {\n  xmlhttp=new XMLHttpRequest();\n}else{\n  xmlhttp=new ActiveXObject(\"Microsoft.XMLHTTP\");\n}\nxmlhttp.onreadystatechange=function(){\n  if (xmlhttp.readyState==4 && xmlhttp.status==200)\n    {\n    \t//alert(\"status cahanged\"+xmlhttp.responseText);\n    \twsCast.send(JSON.stringify({_id: name, status: \"out\"}));\n    \twindow.location.href = \"/login\"\n    }\n  }\nvar name= document.getElementById(\"user\").value;\n//alert(name);\nxmlhttp.open(\"POST\", \"/db/statusupdate\");\nxmlhttp.setRequestHeader(\"Content-Type\", \"application/json;charset=UTF-8\");\nxmlhttp.send(JSON.stringify({_id: name, status: \"out\"}));\n\n};\n\t\t</script>\n\t</head>\n\t\n\t<body onload = \"loadOperation()\" >\n\t\t\n\t\t <div class=\"row-fluid\">\n\t\t \n\t\t <div id=\"wrapper\">\n\t\t          \n\t        <div class=\"container\">\n\t            <div class=\"panel panel-primary\" style>\n\t                <div class=\"panel-heading\">\n\t                <div class=\"form-group\">\n\t                <span class=\"glyphicon glyphicon-comment\"> </span> TransChat  \n\t                 <div class = \"pull-right\">\n\t                  <span class=\"glyphicon glyphicon-user\"> </span>\n\t                  <input id=\"user\" name=\"user\" type=\"text\"  placeholder = \"User Name\"  readonly=\"readonly\" disable=\"disabled\" value={{payload}} style=\"color: black;\" />\n\t                  <!-- <span class=\"input-group-addon\"><span  class=\"glyphicon glyphicon-user\"> </span></span> -->\n\t                   </div>\n\t    </div>\n\t  </div>\n\t\n\t            \n\t                \n\t                \n\t                <div class=\"panel-body\" style=\"padding: 0px;\" id=\"panel-body\">\n\t                \n\t                <div class=\"container-float\" style=\"float: right; padding: 20px; height=100%;\" id=\"users_panel\">\n\t                <center><h5 style=\"color:blue\"><b>Online Users:</b></h5></center>\n\t\t\t\t\t\t\n\t\t\t\t\t</div>\n\n\t                </div>\n\t                \n\t                <div class=\"panel-footer clearfix\">\n\t                    <div class=\"form-group\">\n\t                         <input type=\"hidden\"  id= \"select1\" class=\"form-control\" style= \"width: 1px\">\n\t                        <label class=\"col-md-1 control-label\" for=\"id\">Message:</label>\n\t                        \n\t                        <div class=\"col-md-5\">                     \n\t                             <textarea rows=\"1\" cols=\"100\" class=\"form-control\" id=\"message\" name=\"message\" placeholder = \"Type your message here...\"></textarea>\n\t                                </div>\n\t <div class = \"span 1\"></div>\n\t    <label class=\"col-md-1 control-label\" for=\"id\">Action:</label>\n\t    <div class=\"input-group\">\n\t      <div class=\"input-group-btn\">\n\t        <button type=\"button\" id =\"sid\" class=\"btn btn-default dropdown-toggle\" data-toggle=\"dropdown\" aria-expanded=\"false\" >Select Language <span class=\"caret\"></span></button>\n\t         <ul class=\"dropdown-menu\" role=\"menu\">\n\t          <li value = \"enus\"><a href=\"#\">English</a></li>\n\t          <li class=\"divider\"></li>\n\t          <li value = \"frfr\"><a href=\"#\">French</a></li>\n\t          <li class=\"divider\"></li>\n\t          <li value = \"ptbr\"><a href=\"#\">Portugese</a></li>\n\t          <li class=\"divider\"></li>\n\t          <li value = \"eses\"><a href=\"#\">Spanish</a></li>\n\t        </ul> \n\t      </div>\n\t      <input type=\"text\"  id= \"select\" class=\"form-control\" style= \"width: 150px\" >\n\t      \n\t      <div class=\"pull-right\"> <a href=\"#\" class=\"btn btn-success\" id=\"send_btn\" onclick=\"sendMessage()\">Send</a>\n\t      <div class=\"pull-right\"> <a href=\"#\" class=\"btn btn-success\" id=\"logoff_btn\" onclick=\"logoffOperation()\">Log Off</a>\n\t \n\t                        </div>\n\t    </div>  \n\t    \n\t                   \n\t</div>\n\t                     </div>\n\t                     \n\t                </div>\n\t            </div>\n\t     \n\t \n\t   </div>\n\t    \n\t    \n\t</body>","x":768.0909118652344,"y":327.3636312484741,"z":"9f1f5566.cd719","wires":[["190d53b0.047d3c"]]},{"id":"f4d4126e.61362","type":"http in","name":"","url":"/chat","method":"post","x":479.0909118652344,"y":323.3636312484741,"z":"9f1f5566.cd719","wires":[["d04ee01e.d3597"]]},{"id":"190d53b0.047d3c","type":"http response","name":"","x":1106.0909118652344,"y":305.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"77b9a19f.9c66c","type":"function","name":"","func":"delete msg._session;\nreturn msg;","outputs":1,"x":667.0909118652344,"y":86.36363124847412,"z":"9f1f5566.cd719","wires":[["15242c2e.542b74"]]},{"id":"e9d37076.01903","type":"websocket in","name":"","server":"a00116aa.53f8b","x":459.0909118652344,"y":91.36363124847412,"z":"9f1f5566.cd719","wires":[["77b9a19f.9c66c"]]},{"id":"15242c2e.542b74","type":"watson-language-identification","name":"Language Identification-ds","x":916.0909118652344,"y":91.36363124847412,"z":"9f1f5566.cd719","wires":[["e51324e1.d53338"]]},{"id":"b1e116e7.a9b588","type":"watson-translate","name":"Machine Translation-p6","language":"","x":841.0909118652344,"y":174.36363124847412,"z":"9f1f5566.cd719","wires":[["589dfa41.581b6c"]]},{"id":"b5ceb93b.a009c8","type":"websocket in","name":"","server":"2ef95de4.2e5aa2","x":454.0909118652344,"y":184.36363124847412,"z":"9f1f5566.cd719","wires":[["f46b6f8c.b72fa8"]]},{"id":"d05eb97f.e49d48","type":"websocket out","name":"","server":"2ef95de4.2e5aa2","x":1127.0909118652344,"y":195.36363124847412,"z":"9f1f5566.cd719","wires":[]},{"id":"e51324e1.d53338","type":"websocket out","name":"","server":"a00116aa.53f8b","x":1134.0909118652344,"y":89.36363124847412,"z":"9f1f5566.cd719","wires":[]},{"id":"f46b6f8c.b72fa8","type":"function","name":"","func":"if((msg.lang == \"mt-enus-frfr\") \n|| (msg.lang == \"mt-enus-ptbr\")\n|| (msg.lang == \"mt-frfr-enus\")\n|| (msg.lang == \"mt-ptbr-enus\")\n|| (msg.lang == \"mt-enus-eses\")\n|| (msg.lang == \"mt-eses-enus\")){\n\n} else {\nmsg.lang1 = \"mt-enus-\"+msg.lang.substr(8,11);\nmsg.lang = msg.lang.substr(0,8)+\"enus\";\n}\nreturn msg;","outputs":1,"x":608.0909118652344,"y":183.36363124847412,"z":"9f1f5566.cd719","wires":[["b1e116e7.a9b588"]]},{"id":"589dfa41.581b6c","type":"function","name":"","func":"if(msg.lang1 != null){\nmsg.lang=msg.lang1;\ndelete msg.lang1;\nreturn [ msg, null ];\n} else {\nreturn [ null, msg ];\n}","outputs":"2","x":848.0909118652344,"y":257.3636312484741,"z":"9f1f5566.cd719","wires":[["b1e116e7.a9b588"],["d05eb97f.e49d48"]]},{"id":"f7564af6.01691","type":"mongodb out","service":"mongodb-ax","mongodb":"","name":"adduser","collection":"users","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":650.0909423828125,"y":692.3636474609375,"z":"9f1f5566.cd719","wires":[]},{"id":"953283c2.3d2e48","type":"http in","name":"","url":"/db/find","method":"post","x":468.0909118652344,"y":570.3636312484741,"z":"9f1f5566.cd719","wires":[["286bdbf3.3219ec"]]},{"id":"c02abc1e.eebb7","type":"http in","name":"","url":"/ManageUser","method":"get","x":477.0909118652344,"y":483.3636312484741,"z":"9f1f5566.cd719","wires":[["ff33f1fa.fe32a"]]},{"id":"94483b59.c44778","type":"http response","name":"","x":813.0909118652344,"y":483.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"ff33f1fa.fe32a","type":"template","name":"ManageUser","field":"payload","template":"<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\n            <title>TransChat</title>\n            <style>\n                body {\n                    background-image: url(\"http://www.ibm.com/smarterplanet/us/en/ibmwatson/assets/img/home/hero-video.jpg\");\n                    background-repeat: no-repeat;\n                    background-size: cover;\n                }\n                .container {\n                    padding-top: 150px;\n                }\n                .control-group:hover {\n                    opacity: 1.0;\n                    filter: alpha(opacity=100);\n                }\n                .control-group {\n                    color: #660033;\n                    opacity: 0.4;\n                    filter: alpha(opacity=40);\n                }\n                #header {\n                    color: white;\n                }\n                .styling {\n                    background-color:#CCFFCC;\n                }\n                .foreground-image {\n                    vertical-align: top;\n                    float: left;\n                    width: 200px;\n                    opacity: 0.4;\n                    filter: alpha(opacity=40);\n                }\n                .foreground-image:hover {\n                    opacity: 1.0;\n                    filter: alpha(opacity=100);\n                }\n            </style>\n            <script src=\"//code.jquery.com/jquery-1.11.0.min.js\"></script>\n            <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css\">\n            <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css\">\n            <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\nfunction addUser()\n{\nalert(\"adduser start\");\nvar xmlhttp;\nif (window.XMLHttpRequest)\n  {// code for IE7+, Firefox, Chrome, Opera, Safari\n  xmlhttp=new XMLHttpRequest();\n  }\nelse\n  {// code for IE6, IE5\n  xmlhttp=new ActiveXObject(\"Microsoft.XMLHTTP\");\n  }\nxmlhttp.onreadystatechange=function()\n  {\n  alert(xmlhttp.status+\"step   \"+xmlhttp.readyState);\n  if (xmlhttp.readyState==4 && xmlhttp.status==200)\n    {\n    //document.getElementById(\"canvas\").innerHTML=document.getElementById(\"canvas\").innerHTML+\"\\n\"+xmlhttp.responseText;\n    alert(\"response\"+xmlhttp.responseText);\n    resetFields();\n    }\n  }\n  var name= document.getElementById(\"uname\").value;\n  var pass= document.getElementById(\"password\").value;\n  var email= document.getElementById(\"email\").value;\n  var entry = \"name: \"+name +\",pass: \"+pass+\",email: \"+email;\n//  var jEntry =JSON.stringify({name: name, pass: pass, email: email});\n alert(entry);\n // new HttpRequest instance \nxmlhttp.open(\"POST\", \"http://transchat2.mybluemix.net/db/add\");\nxmlhttp.setRequestHeader(\"Content-Type\", \"application/json;charset=UTF-8\");\nxmlhttp.send(JSON.stringify({name: name, pass: pass, email: email, _id: name}));\n//xmlhttp.send(JSON.stringify({payload:\"name:John Rambo, pass:rambo, email:something\"}));\n//xmlhttp.open(\"GET\",\"http://transchat.mybluemix.net/db\",true);\n//alert(\"all is not well\"+\"send,\"+document.getElementById(\"users\").innerHTML);\n//xmlhttp.setRequestHeader(\"Content-type\",\"application/x-www-form-urlencoded\");\n//xmlhttp.send(\"operation=send&users=mrig,mrig@in.ibm.com;saurav,saurav@in.ibm.com&sender=mrig&message=\"+document.getElementById(\"message\").value);\n};\n\nfunction findUser()\n{\nalert(\"find user start\");\nvar xmlhttp;\nif (window.XMLHttpRequest)\n  {// code for IE7+, Firefox, Chrome, Opera, Safari\n  xmlhttp=new XMLHttpRequest();\n  }\nelse\n  {// code for IE6, IE5\n  xmlhttp=new ActiveXObject(\"Microsoft.XMLHTTP\");\n  }\nxmlhttp.onreadystatechange=function()\n  {\n//  alert(xmlhttp.status+\"step   \"+xmlhttp.readyState);\n  if (xmlhttp.readyState==4 && xmlhttp.status==200)\n    {\n    //document.getElementById(\"canvas\").innerHTML=document.getElementById(\"canvas\").innerHTML+\"\\n\"+xmlhttp.responseText;\n    alert(xmlhttp.responseText);\n    resetFields();\n    }\n  }\n  \tvar name= document.getElementById(\"uname\").value;\n  \talert(\"find\"+name);\n\txmlhttp.open(\"POST\", \"http://transchat2.mybluemix.net/db/find\");\n\txmlhttp.setRequestHeader(\"Content-Type\", \"application/json;charset=UTF-8\");\n\t//xmlhttp.send(); //working-getting all entries\n\txmlhttp.send(JSON.stringify({_id: name}));\n};\n\nfunction removeUser()\n{\nalert(\"remove\");\nvar xmlhttp;\nif (window.XMLHttpRequest)\n  {\n  xmlhttp=new XMLHttpRequest();\n  }\nelse\n  {// code for IE6, IE5\n  xmlhttp=new ActiveXObject(\"Microsoft.XMLHTTP\");\n  }\nxmlhttp.onreadystatechange=function()\n  {\n//  alert(xmlhttp.status+\"step   \"+xmlhttp.readyState);\n  if (xmlhttp.readyState==4 && xmlhttp.status==200)\n    {\n    alert(xmlhttp.responseText);\n    resetFields();\n    }\n  }\nvar name= document.getElementById(\"uname\").value;\nxmlhttp.open(\"POST\", \"http://transchat2.mybluemix.net/db/remove\");\nxmlhttp.setRequestHeader(\"Content-Type\", \"application/json;charset=UTF-8\");\n//xmlhttp.send(JSON.stringify({payload:\"\"}));\nxmlhttp.send(JSON.stringify({_id: name}));\n};\n\nfunction resetFields() {\ndocument.getElementById(\"uname\").value = \"\";\ndocument.getElementById(\"password\").value = \"\";\ndocument.getElementById(\"email\").value = \"\";\n}\n</script>\n</head>\n<div>\n            <img class=\"foreground-image\" src=\"https://pbs.twimg.com/profile_images/1619312083/tri-logo_black-angle-1_400x400.jpg\" />\n        </div>\n <body style=\"text-align:center\">\n            <div class=\"pageheader\"></div>\n            <div class=\"container\">\n                 <h3 id=\"header\"><ins>New User Registartion <span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\"></ins> </h3>\n\n                <form class=\"form-well\">\n                    <!-- Text input-->\n                    <div class=\"control-group\"> <span class=\"glyphicon glyphicon-user\" aria-hidden=\"true\"></span>\n                        <label class=\"control-label\" for=\"uname\">UserName :</label>\n                        <input id=\"uname\" name=\"uname\" type=\"text\" class=\"styling\" placeholder=\"Enter your User Name\" style=\"width: 320px\">\n                    </div>\n                 </form>\n                    </br>\n                    <!-- Password input-->\n                    <div class=\"control-group\"> <span class=\"glyphicon glyphicon-lock\" aria-hidden=\"true\"></span>\n                        <label class=\"control-label\" for=\"password\">Password :</label>\n                        <input id=\"password\" name=\"password\" type=\"password\" class=\"styling\" placeholder=\"Enter Your Password\" style=\"width: 320px\">\n                    </div>\n                    </br>\n                    <div class=\"control-group\"> <span class=\"glyphicon glyphicon-envelope\" aria-hidden=\"true\"></span> \n                        <label class=\"control-label\" for=\"password\">Email-ID : &nbsp</label>\n                        <input id=\"email\" name=\"email\" type=\"text\" class=\"styling\" placeholder=\"Enter your E-mail\" style=\"width: 320px\">\n                    </div>\n                    </br>\n                    <!-- Button (Double) -->\n                    <div class=\"form-group\">\n                        <label class=\"col-md-4 control-label\" for=\"login\"></label>\n                        <div class=\"col-md-5\">\n                            <button id=\"login\"  name=\"login\" class=\"btn btn-success btn-success\" onclick=\"findUser()\">Search <span class=\"glyphicon glyphicon-search\" aria-hidden=\"true\"></span> \n                            </button>&nbsp &nbsp\n                            <button id=\"newuser\"  name=\"newuser\" class=\"btn btn-warning btn-warning\" onclick=\"addUser()\">Add New <span class=\"glyphicon glyphicon-plus\" aria-hidden=\"true\"></span>\n                            </button>&nbsp &nbsp\n                            <button id=\"removeUser\"  name=\"removeUser\" class=\"btn btn-danger btn-danger\"  onclick=\"removeUser()\">Remove <span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span>\n                            </button>\n                            <!-- HOME Button -->\n                        </div>\n                    </div>\n                    </br>\n                    </br>\n                    <div class=\"col-md-12\" style=\"width: 1230px\"> <a href=\"/Login\" id=\"home\" name=\"singlebutton\" class=\"btn btn-primary\">Home <span class=\"glyphicon glyphicon-home\" aria-hidden=\"true\"></span></a>\n\n                    </div>\n                \n            </div>\n        </body>","x":666.0909118652344,"y":481.3636312484741,"z":"9f1f5566.cd719","wires":[["94483b59.c44778"]]},{"id":"821540f3.c46c2","type":"http response","name":"","x":753.0909118652344,"y":570.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"286bdbf3.3219ec","type":"mongodb in","service":"mongodb-ax","mongodb":"","name":"find","collection":"users","operation":"find","x":624.0909118652344,"y":573.3636312484741,"z":"9f1f5566.cd719","wires":[["821540f3.c46c2"]]},{"id":"36c8eccd.a6e45c","type":"http in","name":"","url":"/db/add","method":"post","x":477.0909118652344,"y":667.3636312484741,"z":"9f1f5566.cd719","wires":[["f7564af6.01691","8da10c1c.55a228"]]},{"id":"8da10c1c.55a228","type":"http response","name":"","x":681.0909118652344,"y":655.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"e56ca5e.2d45858","type":"http in","name":"","url":"/db/remove","method":"post","x":915.0909118652344,"y":665.3636312484741,"z":"9f1f5566.cd719","wires":[["276398c6.36dc6","de1de737.ed956"]]},{"id":"de1de737.ed956","type":"http response","name":"","x":1111.0909118652344,"y":662.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"276398c6.36dc6","type":"mongodb out","service":"mongodb-ax","mongodb":"","name":"remove","collection":"users","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":1126.0909118652344,"y":710.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"bf4ed479.30045","type":"http response","name":"","x":732.0909118652344,"y":401.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"10eb1cd3.e9f193","type":"http in","name":"","url":"/login","method":"get","x":458.0909118652344,"y":406.3636312484741,"z":"9f1f5566.cd719","wires":[["ff8c6aa6.7ec188"]]},{"id":"ff8c6aa6.7ec188","type":"template","name":"Login","field":"payload","template":"       \n        <head>\n            <meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\n            <title>TransChat</title>\n            <style>\n                body {\n                    background-image: url(\"http://www.ibm.com/smarterplanet/us/en/ibmwatson/assets/img/home/hero-video.jpg\");\n                    background-repeat: no-repeat;\n                    background-size: cover;\n                }\n                .container {\n                    padding-top: 150px;\n                }\n                .control-group:hover {\n                    opacity: 1.0;\n                    filter: alpha(opacity=100);\n                }\n                .control-group {\n                    color: #660033;\n                    opacity: 0.4;\n                    filter: alpha(opacity=40);\n                }\n                #header {\n                    color: white;\n                }\n                .styling {\n                    background-color:#CCFFCC;\n                }\n                .foreground-image {\n                    vertical-align: top;\n                    float: left;\n                    width: 200px;\n                    opacity: 0.4;\n                    filter: alpha(opacity=40);\n                }\n                .foreground-image:hover {\n                    opacity: 1.0;\n                    filter: alpha(opacity=100);\n                }\n            </style>\n            <script src=\"//code.jquery.com/jquery-1.11.0.min.js\"></script>\n            <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css\">\n            <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css\">\n            <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js\"></script>\n        </head>\n        <div>\n            <img class=\"foreground-image\" src=\"https://pbs.twimg.com/profile_images/1619312083/tri-logo_black-angle-1_400x400.jpg\" />\n        </div>\n        \n<script type=\"text/javascript\">\nfunction userStatusChange()\n{\nvar xmlhttp;\nif (window.XMLHttpRequest) {\n  xmlhttp=new XMLHttpRequest();\n}else{\n  xmlhttp=new ActiveXObject(\"Microsoft.XMLHTTP\");\n}\nxmlhttp.onreadystatechange=function(){\n  if (xmlhttp.readyState==4 && xmlhttp.status==200)\n    {\n    \talert(\"status\"+xmlhttp.responseText+\"--\");\n    \tdocument.getElementById(\"loginform\").submit();\n\n    }\n  }\nvar name= document.getElementById(\"uname\").value;\nxmlhttp.open(\"POST\", \"/db/statusupdate\");\nxmlhttp.setRequestHeader(\"Content-Type\", \"application/json;charset=UTF-8\");\nxmlhttp.send(JSON.stringify({_id: name, status: \"in\"}));\n};\nfunction userLogin()\n{\nalert(\"xxxxx\");\nvar xmlhttp;\nif (window.XMLHttpRequest) {\n  xmlhttp=new XMLHttpRequest();\n}else{// code for IE6, IE5\n  xmlhttp=new ActiveXObject(\"Microsoft.XMLHTTP\");\n}\n  xmlhttp.onreadystatechange=function(){\n  alert(xmlhttp.status+\"step   \"+xmlhttp.readyState);\n  if (xmlhttp.readyState==4 && xmlhttp.status==200)\n    {    \talert(\"--\"+xmlhttp.responseText+\"--\");\n    \tif(xmlhttp.responseText == \"1\") {\n//        \t\n\t\t\tuserStatusChange();\n    \t} else {\n    \t\tdocument.getElementById(\"statusmsg\").innerHTML=\"Login Failed.\"\n    \t\tdocument.getElementById(\"password\").value = \"\";\n    \t}\n    }\n  } \n  var name= document.getElementById(\"uname\").value;\nvar pass= document.getElementById(\"password\").value;\nalert(name+pass);\nxmlhttp.open(\"POST\", \"/db/login\");\nxmlhttp.setRequestHeader(\"Content-Type\", \"application/json;charset=UTF-8\");\nxmlhttp.send(JSON.stringify({_id: name, pass: pass}));\n//xmlhttp.send(JSON.stringify({_id: \"saurav\", pass: \"pass\"}));\nalert(\"end\");\n};\n/*var xmlhttp;\nif (window.XMLHttpRequest) {\n  xmlhttp=new XMLHttpRequest();\n}else{// code for IE6, IE5\n  xmlhttp=new ActiveXObject(\"Microsoft.XMLHTTP\");\n}\nxmlhttp.onreadystatechange=function(){\n//  alert(xmlhttp.status+\"step   \"+xmlhttp.readyState);\n  if (xmlhttp.readyState==4 && xmlhttp.status==200)\n    {\n//    \talert(\"--\"+xmlhttp.responseText+\"--\");\n    \tif(xmlhttp.responseText == \"1\") {\n//        \twindow.location.href = \"/chat?\"+document.getElementById(\"name\").value;\n\t\t\tdocument.getElementById(\"loginform\").submit();\n    \t} else {\n    \t\tdocument.getElementById(\"statusmsg\").innerHTML=\"Login Failed.\"\n    \t\tdocument.getElementById(\"password\").value = \"\";\n    \t}\n    }\n  };\nalert(\"before name and pass\");\nvar name= document.getElementById(\"uname\").value;\nvar pass= document.getElementById(\"password\").value;\nxmlhttp.open(\"POST\", \"/db/login\");\nxmlhttp.setRequestHeader(\"Content-Type\", \"application/json;charset=UTF-8\");\nalert(\"xmlhttp.send(JSON.stringify({payload:\"\"}));\");\nxmlhttp.send(JSON.stringify({_id: name, pass: pass}));\nalert(\"yyyyy\");\n};*/\n\n</script>\n</head>\n<body style=\"text-align:center\">\n            <div class=\"container\">\n                \n                <h3 id=\"header\"> <ins>Welcome to TransChat  <span class=\"glyphicon glyphicon-forward\" aria-hidden=\"true\"></span></ins> </h3>\n\n\n                <form class=\"form-well\" id=\"loginform\" method=\"post\" action=\"/chat\">\n                    <!-- Text input-->\n                    <div class=\"control-group\"> <span class=\"glyphicon glyphicon-user\" aria-hidden=\"true\"></span>\n                        <label class=\"control-label\" for=\"uname\">UserName :</label>\n                        <input id=\"uname\" name=\"uname\" type=\"text\" class=\"styling\" placeholder=\"Enter your User Name\" style=\"width: 280px\">\n                    </div>\n                 </form>\n                    </br>\n                    <!-- Password input-->\n                    <div class=\"control-group\"> <span class=\"glyphicon glyphicon-lock\" aria-hidden=\"true\"></span> \n                        <label class=\"control-label\" for=\"password\">Password :</label>\n                        <input id=\"password\" name=\"password\" type=\"password\" class=\"styling\" placeholder=\"Enter Your Password\" style=\"width: 280px\">\n                    </div>\n                    </br>\n                    <!-- Button (Double) -->\n                    <div class=\"form-group\">\n                        <label class=\"col-md-4 control-label\" for=\"login\"></label>\n                        <div class=\"col-md-5\">\n                            <button id=\"Login\" name=\"Login\" class=\"btn btn-success btn-success\" onclick=\"userLogin()\">Login <span class=\"glyphicon glyphicon-log-in\" aria-hidden=\"true\"></span>\n                            </button>&nbsp &nbsp\n                            <!--<button id=\"newuser\" name=\"newuser\" class=\"btn btn-primary btn-primary\">Register<span class=\"glyphicon glyphicon-edit\" aria-hidden=\"true\" ></span>\n                            \n                            </button>-->\n                            <a class=\"btn btn-primary btn-primary\" href=\"/ManageUser\">Register <span class=\"glyphicon glyphicon-edit\" aria-hidden=\"true\" ></span></a>\n                        </div>\n                        \n                    </div>\n                \n            </div>\n        </body>\n    \n    </html>","x":604.0909118652344,"y":401.3636312484741,"z":"9f1f5566.cd719","wires":[["bf4ed479.30045"]]},{"id":"d04ee01e.d3597","type":"json","name":"","x":626.3409118652344,"y":320.1136312484741,"z":"9f1f5566.cd719","wires":[["2f882aab.55d6ae","668b8f86.c752b"]]},{"id":"9d09c38a.5e32b8","type":"http response","name":"","x":1246.0909118652344,"y":569.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"8beb2952.2d624","type":"mongodb in","service":"mongodb-ax","mongodb":"","name":"login","collection":"users","operation":"count","x":1107.0909118652344,"y":567.3636312484741,"z":"9f1f5566.cd719","wires":[["9d09c38a.5e32b8"]]},{"id":"7e36714d.4e4248","type":"http in","name":"","url":"/db/login","method":"post","x":945.0909118652344,"y":563.3636312484741,"z":"9f1f5566.cd719","wires":[["8beb2952.2d624"]]},{"id":"3a50c94a.6d441e","type":"mongodb out","service":"mongodb-ax","mongodb":"","name":"","collection":"userstatus","payonly":true,"upsert":false,"multi":false,"operation":"store","x":772.0909118652344,"y":821.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"f9e6c50f.22c6d8","type":"http in","name":"","url":"/db/statusupdate","method":"post","x":544.0909118652344,"y":815.3636312484741,"z":"9f1f5566.cd719","wires":[["3a50c94a.6d441e","81178b0b.7e6f"]]},{"id":"81178b0b.7e6f","type":"http response","name":"","x":783.0909118652344,"y":779.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"d38c5f4d.645048","type":"http in","name":"","url":"/db/statusreceive","method":"post","x":484.5909118652344,"y":931.3636312484741,"z":"9f1f5566.cd719","wires":[["f5f4388f.96ad8"]]},{"id":"89265e98.ac3b2","type":"http response","name":"","x":957.0909118652344,"y":899.3636312484741,"z":"9f1f5566.cd719","wires":[]},{"id":"f5f4388f.96ad8","type":"mongodb in","service":"mongodb-ax","mongodb":"","name":"","collection":"userstatus","operation":"find","x":746.0909118652344,"y":904.3636312484741,"z":"9f1f5566.cd719","wires":[["89265e98.ac3b2"]]},{"id":"668b8f86.c752b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":936.0909423828125,"y":374.3636474609375,"z":"9f1f5566.cd719","wires":[]},{"id":"496e449e.9f9edc","type":"function","name":"","func":"delete msg._session;\nreturn msg;","outputs":1,"x":821,"y":1010,"z":"9f1f5566.cd719","wires":[["5cf96b7c.95eee4"]]},{"id":"c7011d25.41c9b8","type":"websocket in","name":"","server":"478e4054.7cacb","x":549,"y":1032,"z":"9f1f5566.cd719","wires":[["496e449e.9f9edc"]]},{"id":"5cf96b7c.95eee4","type":"websocket out","name":"","server":"478e4054.7cacb","x":1170,"y":1013,"z":"9f1f5566.cd719","wires":[]}]
